{% extends 'generic/object.html' %}
{% load helpers %}
{% load static %}


{% block controls %}
    <div class="controls">
        <div class="control-group">

        </div>
    </div>
{% endblock controls %}

{% block content %}
    <style>
        .config_line {
            text-decoration: none !important;
            border-bottom: none !important;
            float:left;
            clear:left;
        }
        pre {
            border-bottom: none !important;
        }
        .second-col {
            width: 70%;
        }
    </style>
<a name="ORIGINAL"></a>
    <div class="row">
        <div class="col col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Details</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th>User</th>
                            <td>{{ object.user }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td class="{% if object.status == "pending" %}text-primary">Pending{% elif object.status == "errored" or object.status == "failed" %}text-danger">Failed{% elif object.status == "completed" %}text-success">Completed{% else %}text-primary">Pending{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td>{{ object.created }}</td>
                        </tr>
                        <tr>
                            <th>Completed</th>
                            <td>{{ object.completed }}</td>
                        </tr>
                        <tr>
                            <th>Arguments</th>
                            <td><pre>{{ object.args|json }}</pre></td>
                        </tr>
                        <tr>
                            <th>Key Word Arguments</th>
                            <td><pre>{{ object.kwargs|json }}</pre></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Result</h3>
                </div>
                <div class="card-body">
                    <pre id='json_result'>{{ object.result|json }}</pre>
                </div>
            </div>
        </div>
        <div class="col col-md-8">
            {% if log_main %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Main</h3>
                    </div>
                    <div class="card-body">
                        <pre>
                            {% for log in log_main %}<a class="config_line">{{ log }}</a>{% endfor %}
                        </pre>
                    </div>
                </div>
            {% endif %}
            {% for group_name, logs in log_groups.items %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ group_name }}</h3>
                    </div>
                    <div class="card-body">
                        <pre>
                            {% for log in logs %}<a class="config_line">{{ log }}</a>{% endfor %}
                        </pre>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a name="NEW"></a>
    <style>
        .config_line {
            text-decoration: none !important;
            border-bottom: none !important;
            float: left;
            clear: left;
        }
    </style>

    <div class="row">
        <div class="col col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Details</h3>
                </div>
                <div class="card-body">
                    <table class="table table-fixed" id="tableTaskDetails">
                        <tbody id="tableTaskResultBody"></tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Result</h3>
                </div>
                <div class="card-body">
                    <table class="table table-fixed" id="tableTaskResult">
                        <tbody id="tableTaskResultBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-md-8">
            <div id="logGroups"></div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>

    // Declare variables
    let baseurl = "/api/plugins/celery/result/";
    let latestLogTimestamp = "";
    let lastStatus = "unknown";
    let taskDetailsStatusColours = {
        'pending': 'text-info',
        'running': 'text-primary',
        'completed': 'text-success',
        'errored': 'text-warning',
        'failed': 'text-danger'
    };
    
    let taskLogLevelColours = {
        "default": "text-muted",
        "success": "text-success",
        "info": "text-info",
        "warning": "text-warning",
        "failure": "text-danger",
        "0": "text-muted",
        "10": "text-muted",
        "20": "text-info",
        "25": "text-success",
        "30": "text-warning",
        "40": "text-warning",
        "50": "text-danger"
    };

    let restartTimer = {
        "unknown": true,
        "pending": true,
        "running": true,
        "completed": false,
        "errored": false,
        "failed": false,
    }

    function generateTaskDetailsMarkup(data) {
        let detailsCreated = new Date(data.created).toUTCString();
        let detailsCompleted = data.completed ? new Date(data.completed).toUTCString() : "";
        let statusCapitalized = data.status.charAt(0).toUpperCase() + data.status.slice(1);

        let detailsMarkup = `
            <tr>
                <th>User</th>
                <td class="second-col">${data.user}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td class="${taskDetailsStatusColours[data.status]} second-col">${statusCapitalized}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td class="second-col">${detailsCreated}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td class="second-col">${detailsCompleted}</td>
            </tr>`;

        return detailsMarkup;
    }

    function generateResultMarkup(result) {
        let resultMarkup = '';

        for (const [device, deviceResult] of Object.entries(result)) {
            let deviceError = deviceResult.error !== null ? deviceResult.error.trim() : 'Success';
            let errorColorClass = deviceResult.status ? 'text-success' : 'text-danger';

            resultMarkup += `
                <tr>
                    <th>${device}</th>
                    <td class="${errorColorClass} second-col">${deviceError}</td>
                </tr>
            `;
            }

        return resultMarkup;
    }

    function updateTaskLog(logGroups) {
        for (const [group, logs] of Object.entries(logGroups)) {
            let existingCard = document.querySelector(`#logGroups .card[data-group="${group}"]`);

            if (!existingCard) {
                let logGroupMarkup = `
                    <div class="card" data-group="${group}">
                        <div class="card-header">
                            <h3 class="card-title">${group}</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-fixed">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>`;
                document.getElementById('logGroups').innerHTML += logGroupMarkup;
                existingCard = document.querySelector(`#logGroups .card[data-group="${group}"]`);
            }

            let existingTbody = existingCard.querySelector('tbody');

            logs.forEach(log => {
                let newRow = document.createElement('tr');
                let newCell = document.createElement('td');
                newCell.className = taskLogLevelColours[log.log_level] + " config_line";
                newCell.textContent = log.message.replace(/</g, '').replace(/>/g, '');
                newRow.appendChild(newCell);
                existingTbody.appendChild(newRow);
            });
        }
    }

    function groupLogs(logs) {
        let logGroups = {};
        logs.forEach(log => {
            if (!logGroups.hasOwnProperty(log.grouping)) {
                logGroups[log.grouping] = [];
            }
            logGroups[log.grouping].push(log);
        });
        return logGroups;
    }

    // Start when ready
    document.addEventListener("DOMContentLoaded", function() {
        var jobResultId = "{{ object.id }}";
        reloadTable(jobResultId);
    });

    function reloadTable(jobResultId, latest) {
        var url = baseurl + jobResultId + "/?logs_after=" + latestLogTimestamp;
        fetch(url)
            .then(response => response.json())
            .then(data => {

                let $showTaskDetails = document.getElementById('tableTaskDetails').getElementsByTagName('tbody')[0];

                // Task Details
                let detailsMarkup = generateTaskDetailsMarkup(data);
                $showTaskDetails.innerHTML = detailsMarkup;

                // Task Result
                if (data.result) {
                    let $showTaskResult = document.getElementById('tableTaskResult').getElementsByTagName('tbody')[0];
                    let resultMarkup = generateResultMarkup(data.result);
                    $showTaskResult.innerHTML = resultMarkup;
                }

                // Task Log
                if (data.logs && data.logs.length > 0) {
                    let logGroups = groupLogs(data.logs);
                    updateTaskLog(logGroups);
                }

                // Latest state
                if (data.logs && data.logs.length > 0) {
                    latestLogTimestamp = data.logs[data.logs.length - 1].created;
                }
                lastStatus = data.status;

                // Restart timer as required
                if (restartTimer[lastStatus]) {
                    setTimeout(function () { reloadTable(jobResultId, latest); }, 1000);
                }
        });
    }

</script>


{% endblock content %}